<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="post" action="/Update/{{student.id}}">
    {% csrf_token %}
    sno<input type="text" name="sno" value="{{student.sno}}"><br><br>
    sname<input type="text" name="sname" value="{{student.sname}}"><br><br>
    sclass<input type="text" name="sclass" value="{{student.sclass}}"><br><br>
    saddress<input type="text" name="saddress" value="{{student.saddress}}"><br><br>
    <button type="submit">Update</button>
</form>
</body>
</html>